In [1]:
str1 = 'this is my first string'
str1

'this is my first string'

In [2]:
str2 = "This is my second string "
str2

'This is my second string '

In [4]:
str3 = ''' This is long
string
and will have multiplr lines
involve'''
str3

' This is long\nstring\nand will have multiplr lines\ninvolve'

In [5]:
str4 = "I am enjoying learning python"
str4

'I am enjoying learning python'

In [6]:
my_string = "Nishant Mishra"
len(my_string)

14

In [7]:
my_string[1]

'i'

In [8]:
my_string[0:5]

'Nisha'

In [9]:
my_string[1:8]

'ishant '

In [10]:
my_string = " Try and Try until you succeed"
len(my_string)

30

In [11]:
my_string[5 : 30]

'and Try until you succeed'

In [12]:
my_string.lower()

' try and try until you succeed'

In [13]:
my_string.upper()

' TRY AND TRY UNTIL YOU SUCCEED'

In [14]:
my_string.rep("try" , "Nishu")

AttributeError: 'str' object has no attribute 'rep'

In [16]:
my_string.replace("try" , "retry")

' Try and Try until you succeed'

In [17]:
my_string.lower()

' try and try until you succeed'

In [18]:
my_string.replace('try' , 'nishant')

' Try and Try until you succeed'

In [20]:
my_string.replace('r','i')

' Tiy and Tiy until you succeed'

In [21]:
my_string

' Try and Try until you succeed'

In [23]:
my_string.count('Try')

2

In [25]:
my_string = " The World is very beautiful to CODE 1 2 3 1 2 3 400 4000 400 400 "
my_string.count('o')

2

In [26]:
my_string.count('400')

4

In [27]:
my_string

' The World is very beautiful to CODE 1 2 3 1 2 3 400 4000 400 400 '

In [28]:
my_string.find('CODE')

32

In [29]:
my_string.find('40')

49

In [30]:
my_string = "Ther are many cares of RED , Yellow , Black and many more colors"
my_string.split(',')

['Ther are many cares of RED ', ' Yellow ', ' Black and many more colors']

In [31]:
len(my_string)

64

In [32]:
my_string[32:60]

'low , Black and many more co'

In [33]:
my_string.lower()

'ther are many cares of red , yellow , black and many more colors'

In [34]:
my_string.upper()

'THER ARE MANY CARES OF RED , YELLOW , BLACK AND MANY MORE COLORS'

In [35]:
my_string.find('A')

-1

In [37]:
my_string.replace('a' , 'b')

'Ther bre mbny cbres of RED , Yellow , Blbck bnd mbny more colors'

In [40]:
my_string.count('r')

5